# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraformrc
.terraform
terraform.rc

# Local settings and environment variables
.env
.env.*
*.bak

# IDE or editor files (add based on the IDE you use)
# Example for VSCode
.vscode/
.idea/

# MacOS
.DS_Store
